{% extends "layout_home.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block headline %}
{{ message }}
{% endblock %}

{% block content %}
<h2>顧客詳細</h2>

<a class="mt-3 btn btn-outline-primary" href="{{ url_for('customer_edit', id=customer.id) }}" role="button">情報編集</a>

<div class="container mt-5 mb-5 d-flex justify-content-center">

    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">性別</th>
              <th scope="col">年齢</th>
              <th scope="col">注文内容</th>
              <th scope="col">注文数</th>
              <th scope="col">注文時間</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">{{ customer.id }}</th>
              <td>{{ customer.gender }}</td>
              <td>{{ customer.year }}年</td>
              <td>{{ customer.menu }}</td>
              <td>{{ customer.count }}</td>
              <td>{{ customer.order_time }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}